.btnMenu{
    --fxbackground-color: green;
    -fx-border-radius: 0px;
}


.profilePic:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);

    -fx-cursor: hand;

}




.id-label{
    -fx-background-color: #000000;
    -fx-text-fill:WHITE;
    -fx-background-radius:20px;
    -fx-padding: 0 0 0 20px ;
}

.submitBtn {
    -fx-background-radius:20px;
    -fx-text-fill:WHITE;
    -fx-background-color: #10a6a8;
}
.submitBtn:hover {
    -fx-background-color: #19cbb6;

}

.textField{
    -fx-padding: 0px 10px 3px 10px;
    -fx-background-radius: 5, 5, 5, 0;
    -fx-background-color: linear-gradient(#e9faff, #e2e6ff);
    /*-fx-padding:4px;*/
}

.wrong-info{
    -fx-text-fill:red;
    -fx-font-weight: bold;
}


.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.table > .viewport {
    -fx-background-color: transparent;
}

.table {
    -fx-background-color: transparent;
}

.edit-remove-label{
    -fx-background-color: #cc57bb;
    -fx-text-fill:WHITE;
    -fx-background-radius:20px;
    -fx-padding: 0 0 0 20px ;
}

.product-fields-label{
    -fx-background-color: #0a4b89;
    -fx-text-fill:WHITE;
    -fx-background-radius:20px;
    -fx-padding: 0 0 0 6px ;

}


.tab .tab-header-background {
    -fx-background-color: transparent;
}

.cart-label{
    -fx-background-color: #000000;
    -fx-text-fill:WHITE;
    -fx-background-radius:20px;
    -fx-alignment: center;
}

.up-down-btn{
    -fx-background-color: transparent;
}
.up-down-btn:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(41, 53, 77, 0.8), 10, 0, 0, 0);
}
.up-down-btn:pressed{
    -fx-effect:none;
}

.back-btn{
    -fx-background-color: #1e8cff;
    -fx-text-fill:white;
    -fx-border-radius:20px;
}
.back-btn:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(41, 53, 77, 0.8), 10, 0, 0, 0);
}
.back-btn:pressed{
    -fx-effect: none;
}

.product-value-label {
    -fx-effect: dropshadow(three-pass-box, rgba(41, 53, 77, 0.8), 10, 0, 0, 0);
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    /*-fx-font-weight: bold;*/
    -fx-font-size:19;

}

.add-to-cart-button {
    -fx-border-radius:10px;
    -fx-background-color: #de60ff;
    -fx-text-fill:white;
}
.add-to-cart-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(110, 48, 118, 0.8), 10, 0, 0, 0);
}
.add-to-cart-button:pressed {
    -fx-effect:none;
    -fx-background-color: #ff70f7;

}

.text-area{
    -fx-background-color: transparent;
}

.hoverable:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(110, 48, 118, 0.8), 10, 0, 0, 0);
}
.hoverable:pressed {
    -fx-effect: none;
}